.form {
  display: flex;
}
.form input {
  flex: 1;
  font-size: 1.25rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #ffafaf;
}

.create-button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  background: #ffafaf;
  border-radius: 6px;
  color:#effeff;
  font-weight: 600;
  color: pointer;
}
.create-button:hover {
  background-color: #ff9a9a;
}